# Python for Managers | Classroom | 2022

-----
## Introduction to Python 
-----

### Hello World!
Start your python journey as it is tradition for coders:

In [ ]:
print("Text")

In [ ]:
print("--")

**Advice**: use the ``TAB`` key while typing a (key)word to 
* show syntactically correct options
* autocomplete

---

### Handling errors
* Keep calm
* Read the error message
* Try to fix it, ask your trainer or copy&paste the last line of the error into a new google search.
* Code on!

In [ ]:
print('c')

In [ ]:
prin('hello, world!')

In [ ]:
print('hello, world!'

In [ ]:
# This is a comment. Each line starting with a # will not affect your code, but are very useful for documentation

---

### Variables  
You can assign and store values inside a variable.  
Naming of variables:  
* It can be only one word.
* It can use only letters, numbers and the underscore _
* It can't begin with a number.

In [ ]:
my_name = "Kamila"
print(my_name)

In [ ]:
print("Hello", my_name)

In [ ]:
print("Hello" + my_name)

# TASK

In [ ]:
# Change the value of my_name to your first name and print it.
# YOUR CODE HERE

# my_name = ...

---

## Python Data Types

In this tutorial, we review the most important and mainly used python data types.

### Numbers

 - `int` (`integer`, means "whole" from latin)
 
$\mathbb{Z}$

In [ ]:
# int 
x = 2

print(x)

Use ```type()``` to get the data type of your variable

In [ ]:
type(x)

In [ ]:
a = 4 + 5
b = 4 * 5
c = 20 / 5
d = 6**4

print(a, b, c, d)

In [ ]:
a = 2 * x
print(a)

 - `float` (`floating point number`)
 
 $\mathbb{R}$

In [ ]:
# float 
# !!!Care!!! The decimal symbol is a dot . not a comma ,
y = 1.01111

In [ ]:
print(y)
type(y) # python automatically printing the last line of the code

In [ ]:
a = 4.2 + 5.1
b = 4.3 * 5.2
c = 5.0 / 4.0

print(a, b, c)

In [ ]:
int_number = 2
float_number = 2.4
result =int_number * float_number
print(result)

## str(String)
* Text

In [ ]:
x = "abc"
print(x)

In [ ]:
type(x)

In [ ]:
a = 'Hello'
b = "World"
s = a + b
print(s)

Using "*"

In [ ]:
print(b * 3)

You can "slice" a text into subparts like this:

In [ ]:
print(s)        # Complete string
print(s[0])     # First character of the string. We start counting from zero!
print(s[1])     # Second character of the string
print(s[2:5])   # String starting from 3rd to 5th (indexes 2, 3 and 4)
print(s[2:])    # String starting from 3rd character
print(s[-1])    # Last character

In [ ]:
my_name = "Kamila"
my_name[0:3]

# TASK

In [ ]:
# Define a new variable "shoe_size" and assign to it your shoe size. Divide this number by 2.5 and print it.  
### YOUR CODE HERE

# Print the last 3 characters of "my_name"
### YOUR CODE HERE

shoe_size = 38
print(shoe_size / 2.5)

In [ ]:
print(my_name[-3:])

---

## Advanced Data Types

### list

list = list of multiple values that are assigned to a single variable. python recognizes it if you write the values in [ ] and seperate it with , (commas)

In [ ]:
values = [33450, 34010, 33990, 33200]
values

In [ ]:
print(type(values))

In [ ]:
type(values[0])

* you can also put strings (=text) into the list or combine different data types (eg. integer, float, string, ...)

In [ ]:
income = ['Low', 'Medium', 'High']
names = ['John Doe', 'Janne Doe', 'Your neighbor']

print(income)
print(names)

In [ ]:
features = ['Janne Doe', 'Medium', 500000, 12.0, True]
features

* Access parts of the list just like slicing a text.

In [ ]:
print(features[0])
print(features[1])
print(features[3])

In [ ]:
print(features[:4])

* Print items from your list

In [ ]:
print("hello all!")
print('hello all! I am ', features[1])

* you can replace values by assigning them a value to a determined position in the list like this: (Be careful with the indexing - it starts at 0!)

In [ ]:
print(features)
features[4]='hello all!'
print(features)

* you can add values by using the build-in .append function like this:

In [ ]:
features.append('One more element in the list')
print(features)

* you can remove values by using the build-in .remove function like this:

In [ ]:
features.remove("Medium")

In [ ]:
print(features)

# Dictionaries 
* Think of it like tables

In [ ]:
# {key : value}
words_frequencies = {'Apples': 2, 'Bananas': 1} 
print(words_frequencies)

In [ ]:
words_frequencies['Apples'] = 4
words_frequencies

In [ ]:
print(words_frequencies['Apples'])

In [ ]:
print(words_frequencies['Orange'])

In [ ]:
another_dict = {'abc': 3.2, 222: [0.8, 1], '123': None}
print(another_dict)

---

## Conditional Statements
* if/else/elif

In [ ]:
if 1 == 1: # python uses colon ":" to indent the next code lines which defines scope & visualizes the program flow
    print('one is one')

In [ ]:
a = 5
if a > 6:
    print('a is bigger than 6')
else:
    print("a isn't bigger than 6")

In [ ]:
a = 10
if a > 6:
    print('a is bigger than 6')
elif a > 5:
    print('a is bigger than 5')
elif a > 4:
    print('a is bigger than 4')
else:
    print("a isn't bigger than 6 or 5")

---

## Range

In [ ]:
a_list = [0,1,2,3,4,5,6,7,8,9,10]
a_list

Function lenght ```len()```

In [ ]:
(len(a_list))

In [ ]:
b_list = list(range(11))
b_list

In [ ]:
b_list = list(range(1,11))
b_list

In [ ]:
b_list = list(range(1,11,2))
b_list

---

## Loops

for ```variable``` in ```sequence```: <br>
&emsp; body_of_loop that has set of statements <br>
&emsp; which requires repeated execution

Here ```<variable>``` is a variable that is used for iterating over a ```<sequence>```. On every iteration it takes the next value from ```<sequence>```  until the end of sequence is reached.

In [ ]:
c_list = [8,7,6,5,4,3,2,1]

In [ ]:
for i in c_list:
    print(i)

In [ ]:
for i in c_list:
    sq = i * i
    print(sq)
print("Program Finished!")

In [ ]:
for i in range(8):
    print(c_list[i])

In [ ]:
for i in range(8):
    print("value of i: ", i)
    print(c_list[i])

# TASK

In [ ]:
# Write a for loop, where you print out each element of test_list list, if the element is bigger that 5.
test_list = [1,2,3,33,55,12,33,0,2,5,6]

---

## Functions

In [ ]:
def function_name():
    a = 2 
    b = 5
    c = a + b
    return c

In [ ]:
function_name()

In [ ]:
# Replace
def multiplication(a,b):
    return a*b

In [ ]:
multiplication(2,5)

# TASK
Write a function for comparing two numbers. The function should return the bigger value:

```python
def compare(a,b):
    ....
# for example
compare(1,2)
> 2
    
```

In [ ]:
# YOUR CODE HERE

***